 @model VirtoCommerce.Foundation.Orders.Model.Order[]
<div class="box-account box-recent">
    <div class="box-head">
        <h2>
            @("Recent Orders".Label())</h2>
        <a href="@Url.FrontUrl().PageUrl("Member/Orders")">@("View All".Localize())</a>
    </div>
    @Html.FrontHtml().RenderView("Account.Display.Orders",Model)
</div>