<routeTable>
  <ignores>
    <add name="axd" url="{resource}.axd/{*pathInfo}"/>
    <add name="aspx" url="{*allaspx}">
      <constraints allaspx =".*\.(aspx)(/.*)?" />
    </add>

    <add name="cssjsimages" url="{*images}">
      <constraints images =".*\.(css|swf|flv)(/.*)?"/>
    </add>
    <add name="favicon" url="{*favicon}">
      <constraints favicon="(.*/)?favicon.ico(/.*)?"/>
    </add>
    <!--<add name="allfiles" url="{*allfiles}">
            <constraints allfiles=".*\.(.*)(/.*)?"/>
        </add>-->
  </ignores>
  <!--VCF config:start-->
  <routes>
    <add name="Item" url="p/{url}" routeType="Kooboo.CMS.Sites.Extension.ModuleArea.ModuleRoute,Kooboo.CMS.Sites">
      <defaults controller = "Catalog" action = "DisplayItem"></defaults>
      <dataTokens Namespaces="VirtoCommerce.Web.Controllers"/>
    </add>
    <add name="Catalog" url="c/{url}" routeType="Kooboo.CMS.Sites.Extension.ModuleArea.ModuleRoute,Kooboo.CMS.Sites">
      <defaults controller = "Catalog" action ="Display"></defaults>
      <dataTokens Namespaces="VirtoCommerce.Web.Controllers"/>
    </add>
    <add name="DefaultWrapper" url="{controller}/{action}/{id}" routeType="Kooboo.CMS.Sites.Extension.ModuleArea.ModuleRoute,Kooboo.CMS.Sites">
      <defaults controller = "Home" action = "Index" id="0"></defaults>
      <dataTokens Namespaces="VirtoCommerce.Web.Kooboo.Controllers"/>
    </add>
    <add name="Default" url="{controller}/{action}/{id}" routeType="Kooboo.CMS.Sites.Extension.ModuleArea.ModuleRoute,Kooboo.CMS.Sites">
      <defaults controller = "Home" action = "Index" id="0"></defaults>
      <dataTokens Namespaces="VirtoCommerce.Web.Controllers"/>
    </add>
  </routes>
  <!--VCF config:end-->
</routeTable>
