<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>0001-01-01T00:00:00</LastUpdateDate>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle></HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Membership>SampleSiteMembership</Membership>
	<SSLDetection xmlns:d2p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Common">
		<d2p1:Key></d2p1:Key>
		<d2p1:Value></d2p1:Value>
	</SSLDetection>
	<DisplayName>Virto Commerce CMS Accelerator</DisplayName>
	<Culture>en-US</Culture>
	<Theme>default</Theme>
	<Domains xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:string>localhost</d2p1:string>
		<d2p1:string>virtocommerce-cms.azurewebsites.net</d2p1:string>
	</Domains>
	<SitePath></SitePath>
	<Mode>Debug</Mode>
	<Version>1.0.0.20131018082057</Version>
	<Repository>VirtoCommerce</Repository>
	<CustomErrors i:nil="true" />
	<EnableJquery>true</EnableJquery>
	<InlineEditing>true</InlineEditing>
	<Smtp>
		<EnableSsl>false</EnableSsl>
		<From>orders@virtoway.com</From>
		<Host>localhost</Host>
		<Password>virto</Password>
		<Port>25</Port>
		<To xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<UserName>virto</UserName>
	</Smtp>
	<ShowSitemap>true</ShowSitemap>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:KeyValueOfstringstring>
			<d2p1:Key>VCStoreId</d2p1:Key>
			<d2p1:Value>SampleStore</d2p1:Value>
		</d2p1:KeyValueOfstringstring>
	</CustomFields>
	<EnableVersioning>false</EnableVersioning>
	<EnableStyleEdting>true</EnableStyleEdting>
	<ResourceDomain></ResourceDomain>
	<TimeZoneId>FLE Standard Time</TimeZoneId>
	<Security>
		<EncryptKey>3BV3KCRY</EncryptKey>
		<TurnOnSubmissionAPI>false</TurnOnSubmissionAPI>
	</Security>
</Site>