<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlKeyMap xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlKeyMap>
		<Key>Member/Edit</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>Login</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>Detail</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>Ckeckout</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>WishList</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>Member.ExternalLoginConfirmation</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>Account/Register</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>member/WishList</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
</ArrayOfUrlKeyMap>