<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlRedirect xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlRedirect>
		<UUID>ZAZPM2AQ</UUID>
		<InputUrl>c/(\w+)</InputUrl>
		<OutputUrl>Catalog/$1</OutputUrl>
		<Regex>true</Regex>
		<RedirectType>Transfer</RedirectType>
	</UrlRedirect>
	<UrlRedirect>
		<UUID>RBSF6AAV</UUID>
		<InputUrl>p/(\w+)</InputUrl>
		<OutputUrl>Product/$1</OutputUrl>
		<Regex>true</Regex>
		<RedirectType>Transfer</RedirectType>
	</UrlRedirect>
</ArrayOfUrlRedirect>