 @using Newtonsoft.Json
@model VirtoCommerce.Web.Models.StoresModel
<div class="store-switcher">
    <label for="select-store">Select Store:</label>
    @Html.DropDownList("SelectedStore", new SelectList(Model.Stores, "Id", "Name", Model.SelectedStore), new {@onchange = "VirtoCommerce.changeStore(this.value);"})
    <script>
        $(function() {
            VirtoCommerce.Stores = @Html.Raw(JsonConvert.SerializeObject(Model.Stores));
        });
    </script>   
</div>