@{
    var pages = new[] { "Member", 
        "Member/Profile", 
        "Member/AddressBook", 
        "Member/Orders", 
        "Member/Whishlist", 
        "Member/Returns" };
}

<div class="block block-account">
        <div class="block-title">
            <strong><span>@("My Account".Label())</span></strong>
        </div>
        <div class="block-content">
            <ul>
                @foreach (var pageName in pages)
                {
                    var item = ServiceFactory.PageManager.Get(Site.Current, pageName);
                    if (item == null)
                    {
                        continue;
                    }

                    var isCurrent = Page_Context.Current.PageRequestContext.Page.FullName.Equals(item.FullName);
                    <li class ='@(isCurrent ? "current" : "")'>
                        @if (!isCurrent)
                        {
                            @Html.FrontHtml().PageLink(item.LinkText, item.FullName)
                        }
                        else
                        {
                            <b>@item.LinkText</b>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>