@model AssignPermissionModel
@{
    ViewBag.Title = "AssignPermissions";
}

<h2>Assign Permissions for @UserHelper.CustomerSession.CustomerName </h2>

@using (Html.BeginForm())
{
	@Html.TextBoxFor(m => m.NewPermission)
	<button type="submit"></button>
}