@model VirtoCommerce.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}
<div class="padding-container col1-layout">
	<div class="col-main">
	<div class="page-title">
		<h1>Forgot Your Password?</h1>
	</div>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post)) {
        @Html.AntiForgeryToken()
		<div class="fieldset">
			<h2 class="legend">Retrieve your password here</h2>
			<p>Please enter your email below and we will send you a new password.</p>
			<ul class="form-list">
				<li>
					<label class="required" for="email_address"><em>*</em>@Html.LabelFor(m => m.Email)</label>
					<div class="input-box">
						@Html.TextBoxFor(m => m.Email, new { @class = "input-text required-entry validate-email" } )
					</div>
				</li>
			</ul>
		</div>
		<div class="buttons-set">
			<p class="required">* Required Fields</p>
			<p class="back-link"><a href="@Url.Action("LogOn", "Account")"><small>« </small>Back to Login</a></p>
			<button class="button" title="Submit" type="submit"><span><span>Submit</span></span></button>
		</div>
	}
	</div>
</div>
